*{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

nav li{

    list-style: none;
    margin-left: 50px;
}

nav ul{

    display: flex;
    align-items: center;
}

.nav-title{

    font-weight: 800;
    font-size: 45px;
}

.text-primary{

    color: orange;
}


.btn-primary{

    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 20px;
    padding: 20px 35px;
    border: 0;
    height: 64px;
    border-radius: 5px;
    background-color: rgb(253, 114, 63);
}

.header{
    background: white;
    background-image: url(portfolio-resources-main/images/header_bg.png) ,url(portfolio-resources-main/images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right , left;
}
/*----*/

.banner{

    display: flex;
    align-items: center;
    margin: 0 200px;
}

.banner-title{

    font-size: 45px;
    font-weight: 700;
    

}

.sub-title{

    font-weight: 600;

    font-size: 45px;
    margin-bottom: 20px
}

.banner-description{

    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/*section */

main{
    max-width: 1140px;
    margin: 0 auto;
}

section{

    margin-top: 130px;
}

.about-me{

    margin-top: 130px;
    background-color: rgb(255, 233, 233);
    border-radius: 14px;
    padding: 130px 150px;
    text-align: center;

}

.section-title{

    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 30px;
    

}

.section-description{

    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;

}

.about-info{
    display: flex;
    justify-content: space-around;
}

.info .info-title{
    font-size: 20px;
}
.info-des{
    font-weight: 700;
    font-size: 20px

}

/* what i do */


.what-i-do {

    margin-top: 130px;
}

.skills-container{

    display: flex;
    gap: 24px;
}

.skill{

    background: white;
    box-shadow: 0px 6px 50px rgba(0 , 0, 0,0.06);
    border-radius: 5px;
    padding: 30px
}


.skill-title{

    font-weight: 700;
    font-size: 20ox;
    margin-top: 30px;
    margin-bottom: 20px;
}

/*--resume-content*/

.resume-content{

    display: flex;
    gap: 24px;
}

.resume .title{

    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;

}

.resume-item{

    margin-top: 30px;
    margin-bottom: 20px;
}

.resume .sub-title{

    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;

}

.resume .description{

    color: #757575;
}

.Resume-button{

    margin-top: 30px;
    text-align: center;
}



.contratc{
    display: flex;
    gap: 120px;
    background: rgb(248, 230, 234);
    padding: 130px 200px;
}

.contract .section-title{

    text-align: center;
}

.contratc input[type="text"] , input[type="email"] , textarea{

    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px ;
}

input{

    height: 64px;
}

.contratc a{

    text-decoration: none;
}


@media screen and (max-width: 576px){

    .header{
        background-image: none;
    }


 .banner, .skills-container, .resume-content , .about-info, .contratc{

    flex-direction: column;
    gap: 20px;
    padding: 10px 20px;
}

nav{

    flex-direction: column-reverse;
    align-content: center;
    justify-content: center;
    align-items: flex-end;
}

nav ul{
    flex-direction: column;
    gap: 20px;
}
.about-me{
    padding: 20px;
}

.banner{

    margin: 0 20px ;
}

.banner img{

    width: 100%;
}
.contratc{

    padding: 20px;
}

.contratc input[type="text"] , input[type="email"] , textarea{

    padding: 0 0 0 5px;
}

    
}

@media screen and (min-width: 577px) and (max-width : 992px) {


    .about-me , .contratc{

        padding: 20px;
        gap: 10px;
    }

    .contratc{

        flex-direction: column;
    }

    .contratc input[type="text"] , input[type="email"] , textarea{

        padding: 0 0 0 5px;
    }
    
}